body {
	font-family: 'Orbitron', sans-serif;
    color:white;
	background-image: url("https://images.alphacoders.com/572/572945.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
	background-color: #0e0e0e;	 
}

h1,h2,h3,h4,h5,h6 { 
	background: rgba(0, 0, 0, 0.5); /* Black color with 50% alpha/opacity */ 
	
}

img {
	height: 100px;
	width: 150px;
	border-radius: 10px;
}

.section-title { font-size: 200%; }
.main-section-title {
	font-size: 300%;
	text-align: center;
}




.character {
	display:inline-block;
	border-style: solid;
	border-color:whitesmoke;
	border-width: 3px;
	cursor: pointer;
	background-color: black;
	
	
}

/* Its bette to style to classes:  */



.main-game-section {
	text-align: center;
}

.characters-section {
	text-align: center;
}

.section-title	{
	text-align: center;
}

.selected-character	{
	text-align: left;
}
.available-to-attack-section {
	text-align: left;
} 

.fight-section{
	text-align: left;
}
 .defender{
	 text-align: left;
 }

#attack-button {
	background-color: rgba(0, 0, 0, 0.5); 
	color: whitesmoke;
	text-align: right;
	padding: 15px 32px;
	font-size: 14px;
	border-radius: 50%;
	border: 2px solid black;
}

#reset-button {
	background-color: rgba(0, 0, 0, 0.5); 
	color: whitesmoke;
	text-align: right;
	padding: 15px 32px;
	font-size: 14px;
	border-radius: 50%;
	border: 2px solid black;

}


.character-image {
	padding-right: 16px;
	padding-left: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.character-name { text-align: center; }
.character-health {	text-align: center; }

.enemy {
	display: inline-block;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	cursor: pointer;
	background-color: #ff9900;
}
.target-enemy {
	background-color: black;
	color: white;
}

#selected-character {
	width: 190px;
	height: 160px;
}

#attacker {
	width: 190px;
	height: 160px;
}

#defender {
	width: 190px;
	height: 160px;
}
#defender-name { text-align: center; }
#defender-health { text-align: center; }

#choose-enemy-button { visibility: hidden;}

#restart-button { visibility: hidden; }

#turn-counter { font-size: 150%; }
